@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import "prismjs/themes/prism-tomorrow.css"; /* Choose a theme */

:root {
    --bulma-size-normal: 1em;
}

html {
    overflow: hidden;
    font-size: 3vh;
    color-scheme: dark;
}

pre[class*="language-"] {
    margin-top: 0;
    margin-bottom: 0;
}

.content {
    .slide-header {
        font-size: 3em;
    }

    .slide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .centered-with-header {
        margin-top: -3em;
    }

    .flex-column {
        display: flex;
    }
}

.full-height {
    height: 100%;
}

.my-editor {
    background: #1f2229;

    /* you must provide font-family font-size line-height. Example: */
    font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
    line-height: 1.5;
    padding: 1em;
}

.editor-result-horizontal {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
}

/* optional class for removing the outline */
.prism-editor__textarea:focus {
    outline: none;
}

.prism-editor-wrapper .prism-editor__container {
    height: 100%;
}