@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

:root {
    --bulma-size-normal: 1em;
}

html {
    overflow: hidden;
}

.content {
    .slide-header {
        font-size: 3em;
    }

    .slide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .centered-with-header {
        margin-top: -3em;
    }

    .flex-column {
        display: flex;
    }
}